@using CarGuardPlus.Areas.Identity.Data
@model AddLicenceNumberViewModel
@{
    ViewData["Title"] = "My licenses";
}

<h1 class="mb-4">@ViewData["Title"]</h1>
<form action="/Home/AddLicenceNumber" id="licenceForm" method="post">
    <div class="form-group mb-3">
        <label for="licenseNumber">Enter New License Number:</label>
        <input type="text" name="licence" class="form-control" id="licenseNumber" name="licenseNumber" required>
        @if (Model.LicenceAlreadyExist)
        {
            <div class="alert alert-danger" style="margin-top: 5px" role="alert">
                <strong>Oh no!</strong> The licence is already exist!
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Add License Number</button>
</form>
@await foreach (var item in Model.ListOfLicences)
{
    <form action="/Home/DeleteLicence" id="licenceForm" method="post">
        <div class="alert-list mt-3">
            <div class="alert alert-primary" role="alert">
                <p><strong>License Number: </strong>@item.LicencePlate</p>
                <button asp-action="DeleteLicence" asp-route-licence="@item.LicencePlate" type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </form>
}


