@using CarGuardPlus.Areas.Identity.Data
@model IAsyncEnumerable<AlertMessage>
@{
    ViewData["Title"] = "My alerts";
}

<h1 class="mb-4">My Alerts</h1>
<div class="alert-list">
    @await foreach (var item in Model)
    {
        <div class="alert alert-primary" role="alert">
            <p><strong>Date: </strong>@item.Timestamp</p>
            <p><strong>Message: </strong>@item.Message</p>
        </div>
    }
</div>