@model SendAlertViewModel
@{
    ViewData["Title"] = "Send Alert";
}

<h1 class="mb-4">@ViewData["Title"]</h1>
<form id="alertForm" method="post" action="/Home/SendAlert">
    <div class="form-group mb-3">
        <label for="licenseNumber">Enter Car License Number:</label>
        <input type="text" name="licence" placeholder="Licence Plate" class="form-control" id="licenseNumber" required>
        @if (!Model.LicenceIsValid)
        {
            <div class="alert alert-danger" style="margin-top: 5px" role="alert">
                <strong>Oh no!</strong> The licence not found!
            </div>
        }
        else
        {
            <div class="alert alert-success" style="margin-top: 5px" role="alert">
                <strong>Ok!</strong> Message sent!
            </div>
        }
    </div>
    <div class="form-group mb-3">
        <label for="alertMessage">Enter the message:</label>
        <input type="text" name="message" placeholder="Message" class="form-control" id="alertMessage" required>
    </div>
    <button id="sendButton" type="submit" class="btn btn-primary">Send Alert</button>
</form>
<div id="alertMessage" class="mt-4 alert alert-success d-none">
    Alert sent for License Number: <span id="alertLicenseNumber"></span>
</div>